<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	">


<!--production database -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/tconnect_schema" />
		<property name="username" value="connect_telos" />
		<property name="password" value="hydtelos" />
	</bean>


<!--Spring JBDC -->
	<bean id="namedParameterJdbcDaoSupport"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcDaoSupport">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

<!--Spring JBDC classname-->
	<bean id="tUserDAO" class="org.jboss.tools.gwt.beans.UserDAOImpl"
		parent="namedParameterJdbcDaoSupport" />

<!--Spring Email service-->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="mail.connect2telos.com" />
		<property name="port" value="26" />
		<property name="username" value="teloshyd@connect2telos.com"/>
		<property name="password" value="teloshyd" />

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<bean id="sendEmail" class="org.jboss.tools.gwt.shared.SendEmail">
		<property name="mailSender" ref="mailSender" />
	</bean>
	
	<bean id="EmailReports" class="org.jboss.tools.gwt.scheduler.PendingPolicies">
		<property name="mailSender" ref="mailSender" />
	</bean>

	<bean id="applicationContextProvider" class="org.jboss.tools.gwt.shared.ApplicationContextProvider" />

</beans>