<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="pendingPoliciesTask" class="org.jboss.tools.gwt.scheduler.PendingPolicies" />
	
	<bean id="emailUploadedFiles" class="org.jboss.tools.gwt.scheduler.DailyAttachmentAtEight" />
	

	<bean id="runSchedulerJobs"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">

		<property name="targetObject" ref="pendingPoliciesTask" />
		<property name="targetMethod" value="reports" />
	</bean>
	
	<bean id="runSchedulerJobsToEmailUploadedFiles"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">

		<property name="targetObject" ref="emailUploadedFiles" />
		<property name="targetMethod" value="sendEmails" />
	</bean>

	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">

		<property name="jobDetail" ref="runSchedulerJobs" />
		<property name="cronExpression" value="0 30 09 ? * MON-SAT" />
		
	</bean>
	
	<bean id="cronTriggerForUploaded" class="org.springframework.scheduling.quartz.CronTriggerBean">

		<property name="jobDetail" ref="runSchedulerJobsToEmailUploadedFiles" />
		<property name="cronExpression" value="0 30 20 ? * MON-SAT" />
		

	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="runSchedulerJobs" />
				<ref bean="runSchedulerJobsToEmailUploadedFiles" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
				<ref bean="cronTriggerForUploaded" />
			</list>
		</property>
	</bean>

</beans>